html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  font-family: 'Baloo Bhaina 2', cursive;
  color: #A5AAB5;
  margin: 0; }

main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

a {
  text-decoration: none;
  color: #A5AAB5; }

.current {
  background-color: #5843BE;
  border-radius: 10px;
  color: white; }

.main-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0px;
  margin: 0px; }

.left-col-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 0px; }

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 20px;
  padding-left: 40px;
  font-size: 18px; }

.heading-wrapper {
  padding-left: 60px; }

.element {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px; }

.link-highlight:active, .link-highlight:hover {
  background-color: #5843BE;
  border-radius: 10px;
  color: white; }

.settings {
  display: flex;
  justify-content: flex-start; }

.settings-wrapper {
  padding-left: 40px; }

.settings:active, .settings:hover {
  background-color: #5843BE;
  border-radius: 10px;
  color: white; }

.span-element {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  width: 200px; }

.span-h2-element {
  display: flex;
  align-items: center;
  margin: 30px 0px; }

.h2-element {
  margin: 0; }

.icon-img {
  margin-right: 20px; }

.promo-img {
  border-radius: 20px; }

.promo-wrapper {
  margin-bottom: 70px;
  padding-left: 60px; }

.icon-h2-img {
  margin-right: 5px; }

.heading-link {
  color: black; }

.month-wrapper {
  display: flex; }

.span-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F7F8;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 30px 0px; }

.left-arrow {
  margin-right: 30px; }

.right-arrow {
  margin-left: 30px; }

.month-name {
  margin: 0px;
  padding: 10px 0px;
  color: #787C84; }

.right-col-wrapper {
  display: flex;
  margin-left: 10px; }

.right-col-one {
  padding-right: 20px;
  padding-top: 20px; }

.right-col-two {
  padding: 20px 20px 0px 20px;
  margin-left: 150px; }

.dates-wrapper {
  width: 280px;
  padding-top: 20px; }

.dates-card {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 10px 0px;
  border-radius: 10px; }

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50px; }

.lesson {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.date-day {
  margin: 15px 0px 5px 0px; }

.date-date {
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin: 0; }

.lesson-number {
  color: black;
  margin: 0px;
  padding: 10px 0px 5px 0px; }

.vertical-line {
  background-color: #E6E6E6;
  width: 2px;
  height: 50px;
  margin: 0px;
  margin-top: 20px; }

.lesson-cost {
  margin: 0px;
  font-size: 18px; }

.first-card {
  margin-top: 20px; }

.horizontal-line {
  height: 2px;
  width: 100%;
  background-color: #E6E6E6;
  margin-top: 20px; }

.dates-card-last {
  margin-top: 40px; }

.filter-wrapper {
  display: flex;
  justify-content: flex-end; }

.filter-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F7F8;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 30px 0px; }

.filter-icon {
  margin-right: 10px; }

.filter-arrow-icon {
  margin-left: 10px; }

.filter-name {
  margin: 0px;
  padding: 10px 0px;
  color: #787C84; }

.activity-wrapper {
  display: flex;
  margin-top: 10px; }

.activity-wrapper-one {
  display: flex;
  margin-top: 25px; }

.activity-time-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  width: 30px; }

.activity-time {
  color: #787C84;
  margin-top: 20px; }

.activity {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 15px 20px;
  width: 250px;
  border-radius: 10px;
  background-color: #ECF6FF; }

.activity-name {
  display: flex;
  align-items: center; }

.activity-name-spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.activity-img {
  border-radius: 50%;
  background-color: #1A55AF;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0; }

.act-status-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.activity-time-period {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px; }

.two-dots {
  display: flex;
  justify-content: flex-end; }

.img-clock {
  margin-right: 10px; }

.act-name {
  margin: 0px;
  color: #1A55AF;
  font-weight: bold;
  font-size: 20px; }

.act-status {
  margin: 0px;
  color: #1A55AF; }

.time-time {
  color: #1A55AF;
  font-weight: bold;
  margin: 0; }

.time-hidden {
  visibility: hidden; }

.atp-mg-top {
  margin: 0;
  margin-top: 10px; }

.act-wrp-sm {
  background-color: #F8F8F9; }

.time-time-sm {
  color: #787C84;
  font-weight: normal; }

.act-purple {
  background-color: #F6F4FF; }

.act-name-purple {
  color: #5843BE; }

.act-status-purple {
  color: #5843BE; }

.time-time-purple {
  color: #5843BE; }

.act-orange {
  background-color: #FFECE6; }

.act-name-orange {
  color: #FA5F1C; }

.act-status-orange {
  color: #FA5F1C; }

.time-time-orange {
  color: #FA5F1C; }

.act-green {
  background-color: #FFFBF0; }

.act-name-green {
  color: #427A0A; }

.act-status-green {
  color: #427A0A; }

.time-time-green {
  color: #427A0A; }

.act-img-green {
  background-color: #427A0A; }

.act-img-orange {
  background-color: #FA5F1C; }

.act-img-purple {
  background-color: #5843BE; }

.dates-card-active {
  background-color: #F6F7F8; }

.date-day-active {
  color: #5843BE; }

.date-date-active {
  color: #5843BE; }

.section-right {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  background-color: #FBFBFB; }

.class-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 60px 0px 50px;
  background: linear-gradient(90deg, #fbfbfb 0%, #fafafc 100%); }

.search-bar {
  padding: 50px 50px;
  display: flex;
  align-items: center; }

.search-bar-inner {
  display: flex; }

.search-box {
  border: hidden;
  width: 60px;
  background-color: #FEFEFE; }

.profile-img {
  border-radius: 10px;
  background-color: #F6F7F8;
  padding: 5px 20px 5px 5px;
  border-radius: 25px 10px 10px 25px; }

.profile-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px; }

.down-arrow-profile {
  margin-left: 15px; }

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(90deg, #fdfdfd 0%, white 100%); }

.class-header {
  color: black;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px; }

.class-desc {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 18px; }

.header-desc {
  margin-bottom: 30px;
  width: 270px; }

.imagess {
  border-radius: 50%;
  margin-left: -10px; }

.participants {
  margin-bottom: 20px; }

.participants-header {
  font-size: 18px;
  margin-bottom: 10px; }

.participants-images {
  display: flex; }

.imagess-one {
  margin-left: 0; }

.participants-counter {
  display: flex;
  justify-content: center;
  background-color: rgba(185, 185, 185, 0.603);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 10px; }

.partc-cntr {
  color: #787C84; }

.class-details {
  display: flex;
  flex-direction: column;
  margin-top: 40px; }

.class-details-card {
  display: flex;
  margin-bottom: 20px; }

.class-spec-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px; }

.class-spec-details-info {
  margin: 0px 0px 5px 0px;
  color: black;
  font-weight: bold; }

.class-spec-details-info2 {
  margin: 0px; }

.horizontal-line2 {
  height: 2px;
  width: 100%;
  background-color: #E6E6E6;
  margin-top: 65px; }

.join-class {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5843BE;
  border-radius: 15px;
  padding: 20px 25px; }

.join-not-active {
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #FBFBFB; }

.join-text {
  color: #787C84;
  margin: 0;
  font-size: 18px; }

.join-text-active {
  color: white; }

.person-acc {
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
